{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <div class="card card-login py-4">

        <form class="form-login" method="post" action="">
          <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Welcome</h4>
            <!-- {{ form.as_p }} -->
          </div>
          <div class="card-body px-4 pb-4 pt-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ion-ios-contact"></i>
                </span>
              </div>
              <!-- <div class="form-control" placeholder="Username"> -->
                {% csrf_token %}
                  {{ form.username }}
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ion-ios-lock"></i>
                </span>
              </div>
              <!-- <div class="form-control" placeholder="Password..."> -->
                {% csrf_token %}
                {{ form.password }}
            </div>
          </div>
          <div class="footer text-center">
            <button class="btn btn-white" type="submit">Login</button>

            <!-- <a class="btn btn-white">Get Started</a> -->
          </div>
        </form>
      </div>
    </div>
  </div>

<!--
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
  </tr>
  <tr> -->

  <!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form> -->
{% endblock %}
