{% extends 'base.html' %}
{% load static %}
{% block title %}Calendars{% endblock %}

{% block content %}
<!DOCTYPE html>

<html>

<div class="row" style="flex-direction: column; justify-content: center;">
  <!-- <h2>User's Calendars</h2>

  <h2>{{ user.get_full_name }}</h2>
  <ul>
    <li>Username: {{ user.username }}</li>
  </ul  -->
  <form action="/action_page.php" style="background-color:#E6E6FA, width=50%" align="right">
  <input type="text" class="form-control" style="width: 80%; margin-left: 15;" placeholder="Enter when2meet url to add to calendars" name="url" value="" align="right">

  <input type="submit" style="margin-right: 230" value="+">
  </form>

  <!-- <iframe width=100% height=100% src="https://www.when2meet.com/?8321965-cbJct"></iframe> -->
  <div class="row" style="flex-direction: row; justify-content: space-evenly; padding-top: 15;">
    <div style="width: 40%;">{% include "calendar.html" %}</div>
    <div style="width: 40%;">{% include "calendar.html" %}</div>
  </div>

</div>
  
{% endblock %}


</html>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
