{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>

<html>
<br>
<ul>
  <h3 align="center"> @{{ user.username }}</h3>
</ul

<form action="/login/" method="post">
    <label for="group_name">New Group: </label>
    <input id="name" type="text" name="name">
    <input type="submit" value="OK">
</form>
<div class="row">
  <div class="two-thirds column alpha">
    <div>{% include "tableofactionitems.html" %}</div>
  </div>
  <div class="one-third column omega">
    <div>{% include "tableofactionitems.html" %}</div>
  </div>
</div>
{% endblock %}


</html>
