{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>

<html>
  <h2>User's Home</h2>
  <h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
</ul

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Group</button>
</form>
<div class="row">
  <div class="two-thirds column alpha">
    <div>{% include "tableofactionitems.html" %}</div>
  </div>
  <div class="one-third column omega">
    <div>{% include "tableofactionitems.html" %}</div>
  </div>
</div>
{% endblock %}


</html>
 