
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>



<body>
<div class="row" style="max-width: 100vw">
    <div class="col-md-8">
        <section class="ftco-section" id="notifications" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading-section mb-4">Notifications</h2>
                        <div class="alert alert-info">
                            <div class="container">
                                <div class="d-flex">
                                    <div class="alert-icon">
                                        <i class="ion-ios-information-circle-outline"></i>
                                    </div>
                                    <p class="mb-0 ml-2"><b>Info alert:</b> You&apos;ve got some friends nearby, stop looking at
                                        your phone and find them...</p>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="ion-ios-close"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="alert alert-success">
                            <div class="container">
                                <div class="d-flex">
                                    <div class="alert-icon">
                                        <i class="ion-ios-checkmark-circle"></i>
                                    </div>
                                    <p class="mb-0 ml-2"><b>Success Alert:</b> Yuhuuu! You&apos;ve got your $11.99 album from
                                        The Weeknd</p>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="ion-ios-close"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="alert alert-warning">
                            <div class="container">
                                <div class="d-flex">
                                    <div class="alert-icon">
                                        <i class="ion-ios-warning"></i>
                                    </div>
                                    <p class="mb-0 ml-2"><b>Warning Alert:</b> Hey, it looks like you still have the
                                        &quot;copyright &#xA9; 2015&quot; in your footer. Please update it!</p>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="ion-ios-close"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="alert alert-danger">
                            <div class="container">
                                <div class="d-flex">
                                    <div class="alert-icon">
                                        <i class="ion-ios-information-circle-outline"></i>
                                    </div>
                                    <p class="mb-0 ml-2"><b>Error Alert:</b> Damn man! You screwed up the server this time. You
                                        should find a good excuse for your Boss...</p>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="ion-ios-close"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <div style="
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1;">{% include "profilesidebar.html" %}</div>
    </div>
</div>




</body>
{% endblock %}


</html>